/* navigation.component.css */
nav {
    height: 37px;
    width: 100%;
    display: block;
    background: tomato;
    list-style-type: none;
}

nav li {
    font-family: Arial;
    font-size: 16px;
    padding: 12px 20px 5px;
    border-right: 1px solid white;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
}
